.Container{
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .6);
    height: 100%;
    padding-top: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}

.form{
    max-width: 500px;
    background: #fff;
    background-color: #ebecf0;
    border: 1px solid #ebecf0;
    border-radius: 7px;
    margin: 0 auto;
    padding: 12px;
}

.form form{
    width: 100%;
    
}

form h2{
    text-align: center;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
    color:  var(--background);
}

.inputCont input{
    width: 100%;
    margin-bottom: 12px;
    appearance: none;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-right: 12px;
    transition: all .2s ease-in-out;
}
.inputCont input{
    background-color: #ebecf0;
    border: 0;
    border-radius: 320px;
    font-size: 16px;
    outline: 0;
    padding: 16px;
    text-shadow: 1px 1px 0 #fff;
}


.fromBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.fromBtn input{
    padding: 16px 20px;
    color: #A594F9;
    border: 0;
    border-radius: 320px;
    font-size: 16px;
    outline: 0;
    padding: 16px;
    text-shadow: 1px 1px 0 #fff;
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
    cursor: pointer;
    font-weight: 700;
    font-weight: 600;
    width: 150px;
    text-transform: capitalize;
}


.fromBtn button{
    padding: 16px 20px;
    color: #A594F9;
    border: 0;
    border-radius: 320px;
    font-size: 16px;
    outline: 0;
    padding: 16px;
    text-shadow: 1px 1px 0 #fff;
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
    cursor: pointer;
    font-weight: 700;
    font-weight: 600;
    width: 150px;
    text-transform: capitalize;
}




